<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>

    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/angular/angular.min.js'></script>
    <script src='/bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>

    <script src='/js/bundle.js'></script>

	<title>BREWERYdb</title>
</head>

<body ng-app='breweryApp'>
	<div class='jumbotron-container'>
	<div class='jumbotron'>


    <p>Welcome to breweryDB</p>
  </div></div>
	<nav ng-controller='navCtrl' class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">

        </div>


          <ul class="nav navbar-nav">
            <li><a ui-sref='home'>Home</a></li>
            <li ng-if='!username'><a ui-sref='login'>Login</a></li>
            <li ng-if='!username'><a ui-sref='register'>Register</a></li>
            <li ng-if='username'><a ui-sref='profile'>Profile</a></li>
            <li ng-if='username'><a ui-sref='msgs'>Messages</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show='username'>Hello {{username}}!</li>
            <li ng-show='username'>
              <button ng-click='logout()'
                      type="button"
                      class="btn btn-default navbar-btn">Log Out</button>
            </li>
          </ul>

      </div>
    </nav>

    <div class="container" ng-controller='navCtrl'>
      <ui-view></ui-view>
    </div>
  </body>
</html>
